<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<meta name="revisit-after" content="1 hour">
		<meta name="distribution" content="all">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.5, user-scalable=yes">
		<meta name="expires" content="1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="all">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="all" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css" media="all" th:href="@{/css/bootstrap-theme.min.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css" media="all" th:href="@{/css/reset.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/unal.css" media="all" th:href="@{/css/unal.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/base.css" media="all" th:href="@{/css/bootstrap.base.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/tablet.css" media="all" th:href="@{/css/tablet.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/phone.css" media="all" th:href="@{/css/phone.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/small.css" media="all" th:href="@{/css/small.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/printer.css" media="print" th:href="@{/css/printer.css}">

		<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
		<script th:src="@{/js/unal.js}" type="text/javascript"></script>

		<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
		
		<title>Calificación de la solicitud - Help Desk</title>
	</head>

	<body>
		<header th:insert="header-user.html" id="unalTop"></header>
			
		<br>
		<br>
			
		<main class="jumbotron w-auto p-3">
			<br>
			<br>
            <h2>Calificar la solicitud</h2>
            <br>
			<p>Complete los siguientes campos de calificación con relación a la atención prestada en la solicitud: <span th:text="${id}"></span></p>
			<br>
			<div class="container">
				<form method="post" th:object="${feedbackForm}" class="form-horizontal">
					<div class="form-group">
						<h4 class="col-md-2 align-left">Calificación: </h4>
						<div class="col-md-6">
							<div class="flex-options">
								<input class="form-check-input" type="radio" th:field="*{rating}" th:id="1" th:value="1">
								<label class="form-check-label" th:for="1" th:text="1"></label>
								<input class="form-check-input" type="radio" th:field="*{rating}" th:id="2" th:value="2">
								<label class="form-check-label" th:for="2" th:text="2"></label>
								<input class="form-check-input" type="radio" th:field="*{rating}" th:id="3" th:value="3">
								<label class="form-check-label" th:for="3" th:text="3"></label>
								<input class="form-check-input" type="radio" th:field="*{rating}" th:id="4" th:value="4">
								<label class="form-check-label" th:for="4" th:text="4"></label>
								<input class="form-check-input" type="radio" th:field="*{rating}" th:id="5" th:value="5" checked>
								<label class="form-check-label" th:for="5" th:text="5"></label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Fue solucionada su solicitud: </h4>
						<div class="col-md-6">
							<div class="flex-options">
								<input class="mr-20" type="radio" id="Yes" th:field="*{successful}" value="true" checked>
								<label for="Yes">Sí</label>
								<input type="radio" id="No" th:field="*{successful}" value="false">
								<label for="No">No</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Retroalimentación de la calificación: </h4>
						<div class="col-md-6">
							<textarea th:field="*{specification}" id="specification" rows="5" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group col-md-8 align-right">
						<a th:href="@{/user/details/{id}(id=${id})}" class="btn btn-default btn-lg">Cancelar</a>
						<button type="sumbit" class="btn btn-primary btn-lg">Calificar</button>
					</div>
				</form>
			</div>
		</main>
		<footer th:insert="footer.html" class="clear align-center"></footer>
	</body>

</html>