<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>

<header class="headerlogin" th:insert="header-login"></header>
<div class="flexboxlogin">
    <div class="center">
            <h1>Help Desk</h1>
            <h2>Universidad Nacional de Colombia</h2>
            <h3>Facultad de ingeniería</h3>
    </div>
    <form th:object="${loginForm}" method="post">
        <input th:field="*{userName}" id="userName" class="login" type="text" placeholder="Usuario institucional" required> <br/>
        <input th:field="*{password}" id="password" class="login" type="password" placeholder="Contraseña" required> <br/>
        <button  class="login" type="submit">Inicia sesión</button><br/>
    </form>

</div>
<footer th:insert="footer.html"></footer>
</body>
</html>
