<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<meta name="revisit-after" content="1 hour">
		<meta name="distribution" content="all">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.5, user-scalable=yes">
		<meta name="expires" content="1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="all">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="all" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css" media="all" th:href="@{/css/bootstrap-theme.min.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css" media="all" th:href="@{/css/reset.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/unal.css" media="all" th:href="@{/css/unal.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/base.css" media="all" th:href="@{/css/bootstrap.base.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/tablet.css" media="all" th:href="@{/css/tablet.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/phone.css" media="all" th:href="@{/css/phone.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/small.css" media="all" th:href="@{/css/small.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/printer.css" media="print" th:href="@{/css/printer.css}">

		<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
		<script th:src="@{/js/unal.js}" type="text/javascript"></script>

		<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />

		<title>Plantilla - Help Desk</title>
	</head>

	<body>
		<header id="unalTop">
			<div class="logo">
				<svg width="93%" height="93%">
					<image xlink:href="../static/images/escudoUnal.png" th:href="@{/images/escudoUnal.png}" width="100%" height="100%" class="hidden-print"/>
				</svg>
			</div>
			<div class="firstMenu">
            	<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				
			</div>
			<div id="bs-navbar" class="navbar-collapse collapse navigation">
				<div class="mainMenu">
						<div class="btn-group">
							<a href="" class="btn btn-default dropdown-toggle">
								Botón 1
							</a>
							<span class="caret-right"></span>
						</div>
						<div class="btn-group">
							<a href="" class="btn btn-default dropdown-toggle">
								Botón 2
							</a>
							<span class="caret-right"></span>
						</div>
						<div class="btn-group">
							<a href="" class="btn btn-default dropdown-toggle">
								Botón 3
							</a>
							<span class="caret-right"></span>
						</div>
						<div class="btn-group">
							<a href="" class="btn btn-default dropdown-toggle">
								Botón 4
							</a>
							<span class="caret-right"></span>
						</div>
						<div class="btn-group">
							<div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								Rol
								<span class="caret"></span>
							</div>
							<ul class="dropdown-menu dropItem-16">
								<li>
									<a href="" target="_blank">
										Rol 1
									</a>
								</li>
								<li>
									<a href="" target="_blank">
										Rol 2
									</a>
								</li>
								<li>
									<a href="" target="_blank">
										Rol 3
									</a>
								</li>
								<li>
									<a href="" target="_blank">
										<strong>Cerrar Sesión</strong>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
		</header>
			
		<br>
		<br>
			
		<main class="jumbotron w-auto p-3">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<input>
			<a th:href="@{/plantilla}">aaaaa</a>
		</main>

		<footer th:insert="footer.html" class="clear align-center"></footer>
	</body>

</html>