<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<meta name="revisit-after" content="1 hour">
		<meta name="distribution" content="all">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.5, user-scalable=yes">
		<meta name="expires" content="1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="all">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="all" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css" media="all" th:href="@{/css/bootstrap-theme.min.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css" media="all" th:href="@{/css/reset.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/unal.css" media="all" th:href="@{/css/unal.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/base.css" media="all" th:href="@{/css/bootstrap.base.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/tablet.css" media="all" th:href="@{/css/tablet.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/phone.css" media="all" th:href="@{/css/phone.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/small.css" media="all" th:href="@{/css/small.css}">
		<link rel="stylesheet" type="text/css" href="../static/css/printer.css" media="print" th:href="@{/css/printer.css}">

		<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
		<script th:src="@{/js/unal.js}" type="text/javascript"></script>

		<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
		
		<title>Detalles solicitud - Help Desk</title>
	</head>

	<body>
		<header th:insert="header-admin.html" id="unalTop"></header>

		<br>
		<br>

		<main class="jumbotron w-auto p-3">
			<br>
			<br>
            <h2>Detalles de la solicitud</h2>
            <br>
			<div class="container">
				<form th:object="${requestDetail}" class="form-horizontal" method="post">
					<div class="form-group">
						<h4 class="col-md-2 align-left">Id:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.id}" id="id" type="text" readonly class="form-control" value="a">
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Descripción:</h4>
						<div class="col-md-6">
							<textarea th:text="${requestDetail.specification}" id="description" readonly rows="5" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Fecha de creación:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.formatCreationDate()}" id="creationDate" type="text" readonly class="form-control">
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Fecha de finalización:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.formatEndingDate()} ?:'No Asignado'" id="endingDate" type="text" readonly class="form-control">
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Estado:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.status}" id="status" type="text" readonly class="form-control">
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Placa de inventario:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.inventoryPlate} ?:'No Asignado'" id="inventoryPlate" type="text" readonly class="form-control">
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Número de equipos:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.equipmentNumber} ?:'No Asignado'" id="equipmentNumber" type="text" readonly class="form-control">
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Categoría:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.category} ? ${requestDetail.category.name} :'No Asignado'" id="category" type="text" readonly class="form-control">
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Correo del solicitante:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.user.username}" id="user-username" type="text" readonly class="form-control">
						</div>
					</div>
					<div class="form-group">
						<h4 class="col-md-2 align-left">Nombre del solicitante:</h4>
						<div class="col-md-6">
							<input th:value="${requestDetail.user.name}" id="user-name" type="text" readonly class="form-control">
						</div>
					</div>
					<div th:if="${requestDetail.agents.size() == 0}">
						<div class="form-group">
							<h4 class="col-md-2 align-left">Agente:</h4>
							<div class="col-md-6">
								<input value="Actualmente no se ha asignado ningun agente" id="AgentMessage" type="text" readonly class="form-control">
							</div>
						</div>
					</div>
					<div th:unless="${requestDetail.agents.size() == 0}">
						<div class="form-group">
							<h4 class="col-md-2 align-left">Correo de los agentes:</h4>
							<div class="col-md-6">
								<input th:each="i : ${requestDetail.agents}" th:value="${i.username}" id="agent-userName" type="text" readonly class="form-control mb-5">
							</div>
						</div>
						<div class="form-group">
							<h4 class="col-md-2 align-left">Nombre de los agentes:</h4>
							<div class="col-md-6">
								<input th:each="i : ${requestDetail.agents}" th:value="${i.name}" id="agent-name" type="text" readonly class="form-control mb-5">
							</div>
						</div>
					</div>
					<div th:if="${requestDetail.feedback == Null}">
						<div class="form-group">
							<h4 class="col-md-2 align-left">Retroalimentación:</h4>
							<div class="col-md-6">
								<input value="Actualmente no se ha asignado ninguna retroalimentación" id="feedbackMessage" type="text" readonly class="form-control">
							</div>
						</div>
					</div>
					<div th:unless="${requestDetail.feedback == Null}">
						<div class="form-group">
							<h4 class="col-md-2 align-left">Calificación:</h4>
							<div class="col-md-6">
								<input th:value="${requestDetail.feedback.rating.name} ?:'No Asignado'" id="feedbackRating" type="text" readonly class="form-control">
							</div>
						</div>
						<div class="form-group">
							<h4 class="col-md-2 align-left">Fecha de calificación:</h4>
							<div class="col-md-6">
								<input th:value="${requestDetail.feedback.formatDate()} ?:'No Asignado'" id="feedbackDate" type="text" readonly class="form-control">
							</div>
						</div>
						<div class="form-group">
							<h4 class="col-md-2 align-left">Retroalimentación de calificación:</h4>
							<div class="col-md-6">
								<textarea th:text="${requestDetail.feedback.specification} ?:'No Asignado'" id="feedbackSpecification" readonly rows="5" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
		</main>
		<footer th:insert="footer.html" class="clear align-center"></footer>
	</body>

</html>